@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --body-color: #111827;
}

body {
  background-color: var(--body-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
